.starsWrapper {
  position: fixed; 
  top: 0;
  left: 0;
  z-index: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none; 
  overflow: hidden;
}

.starElement {
  position: absolute;
  filter: drop-shadow(0 0 15px rgb(255, 242, 0));
  animation: starFloatTwinkle 5s ease-in-out infinite;
  opacity: 0.8;
}

@keyframes starFloatTwinkle {
0%, 100% {
    transform: translateY(0) scale(1);
    opacity: 0.6;
  }
  50% {
    transform: translateY(-10px) scale(1.2);
    opacity: 1;
  }
}